openapi: 3.2.0
info:
  title: Harbinger Health WordPress REST API (wp/v2) Settings API
  version: 2.0.0
  summary: The wp/v2 namespace of the WordPress REST API served by Harbinger Health's website.
  description: DERIVED, NOT PUBLISHED BY HARBINGER HEALTH.
  contact:
    name: Harbinger Health
    url: https://harbinger-health.com/contact/
    email: info@harbinger-health.com
  x-apievangelist-method: derived
  x-apievangelist-source: openapi/harbinger-health-wp-json-discovery.json
  x-apievangelist-derived: '2026-08-04'
  x-upstream-documentation: https://developer.wordpress.org/rest-api/
servers:
- url: https://harbinger-health.com/wp-json
  description: Harbinger Health corporate site (WP Engine, fronted by Cloudflare)
tags:
- name: Settings
  description: WordPress settings resource routes.
paths:
  /wp/v2/settings:
    get:
      operationId: listSettings
      summary: GET /wp/v2/settings
      tags:
      - Settings
      responses:
        '200':
          description: Successful response. WordPress route discovery does not publish response schemas, so the body is described generically.
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required or insufficient capability (rest_forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched (rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createSettings
      summary: POST /wp/v2/settings
      tags:
      - Settings
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Site title.
                description:
                  type: string
                  description: Site tagline.
                url:
                  type: string
                  format: uri
                  description: Site URL.
                email:
                  type: string
                  format: email
                  description: This address is used for admin purposes, like new user notification.
                timezone:
                  type: string
                  description: A city in the same timezone as you.
                date_format:
                  type: string
                  description: A date format for all date strings.
                time_format:
                  type: string
                  description: A time format for all time strings.
                start_of_week:
                  type: integer
                  description: A day number of the week that the week should start on.
                language:
                  type: string
                  description: WordPress locale code.
                use_smilies:
                  type: boolean
                  description: Convert emoticons like :-) and :-P to graphics on display.
                default_category:
                  type: integer
                  description: Default post category.
                default_post_format:
                  type: string
                  description: Default post format.
                posts_per_page:
                  type: integer
                  description: Blog pages show at most.
                show_on_front:
                  type: string
                  description: What to show on the front page
                page_on_front:
                  type: integer
                  description: The ID of the page that should be displayed on the front page
                page_for_posts:
                  type: integer
                  description: The ID of the page that should display the latest posts
                default_ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.
                default_comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow people to submit comments on new posts.
                site_logo:
                  type: integer
                  description: Site logo.
                site_icon:
                  type: integer
                  description: Site icon.
      responses:
        '200':
          description: Successful response. WordPress route discovery does not publish response schemas, so the body is described generically.
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required or insufficient capability (rest_forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched (rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: replaceSettings
      summary: PUT /wp/v2/settings
      tags:
      - Settings
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Site title.
                description:
                  type: string
                  description: Site tagline.
                url:
                  type: string
                  format: uri
                  description: Site URL.
                email:
                  type: string
                  format: email
                  description: This address is used for admin purposes, like new user notification.
                timezone:
                  type: string
                  description: A city in the same timezone as you.
                date_format:
                  type: string
                  description: A date format for all date strings.
                time_format:
                  type: string
                  description: A time format for all time strings.
                start_of_week:
                  type: integer
                  description: A day number of the week that the week should start on.
                language:
                  type: string
                  description: WordPress locale code.
                use_smilies:
                  type: boolean
                  description: Convert emoticons like :-) and :-P to graphics on display.
                default_category:
                  type: integer
                  description: Default post category.
                default_post_format:
                  type: string
                  description: Default post format.
                posts_per_page:
                  type: integer
                  description: Blog pages show at most.
                show_on_front:
                  type: string
                  description: What to show on the front page
                page_on_front:
                  type: integer
                  description: The ID of the page that should be displayed on the front page
                page_for_posts:
                  type: integer
                  description: The ID of the page that should display the latest posts
                default_ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.
                default_comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow people to submit comments on new posts.
                site_logo:
                  type: integer
                  description: Site logo.
                site_icon:
                  type: integer
                  description: Site icon.
      responses:
        '200':
          description: Successful response. WordPress route discovery does not publish response schemas, so the body is described generically.
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required or insufficient capability (rest_forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched (rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: updateSettings
      summary: PATCH /wp/v2/settings
      tags:
      - Settings
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Site title.
                description:
                  type: string
                  description: Site tagline.
                url:
                  type: string
                  format: uri
                  description: Site URL.
                email:
                  type: string
                  format: email
                  description: This address is used for admin purposes, like new user notification.
                timezone:
                  type: string
                  description: A city in the same timezone as you.
                date_format:
                  type: string
                  description: A date format for all date strings.
                time_format:
                  type: string
                  description: A time format for all time strings.
                start_of_week:
                  type: integer
                  description: A day number of the week that the week should start on.
                language:
                  type: string
                  description: WordPress locale code.
                use_smilies:
                  type: boolean
                  description: Convert emoticons like :-) and :-P to graphics on display.
                default_category:
                  type: integer
                  description: Default post category.
                default_post_format:
                  type: string
                  description: Default post format.
                posts_per_page:
                  type: integer
                  description: Blog pages show at most.
                show_on_front:
                  type: string
                  description: What to show on the front page
                page_on_front:
                  type: integer
                  description: The ID of the page that should be displayed on the front page
                page_for_posts:
                  type: integer
                  description: The ID of the page that should display the latest posts
                default_ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.
                default_comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow people to submit comments on new posts.
                site_logo:
                  type: integer
                  description: Site logo.
                site_icon:
                  type: integer
                  description: Site icon.
      responses:
        '200':
          description: Successful response. WordPress route discovery does not publish response schemas, so the body is described generically.
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required or insufficient capability (rest_forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched (rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST error envelope, observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application password, advertised by the site's route-discovery document at authentication.application-passwords. Issued from https://harbinger-health.com/wp-admin/authorize-application.php. Anonymous callers may read the public view/embed context without any credential.
